<h1><%= @question.text %></h1>

<form action="/questions/<%= @question.id %>" method="post" class="form-control">
  <input type="hidden" name="_method" value="patch">
  <label for="text">Change question</label>
  <input id="text" name="text" type="text">
  <button type="submit">Update question</button>
</form>

<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete question</button>
</form>

<h3>Responses:</h3>
<ul>
  <% @question.responses.each do |response| %>
  <li><a href="/responses/<%= response.id %>"><%= response.text %></a></li>
  <% end %>
</ul>

<form action="/add_response" method="post">
  <input type="hidden" name="question_id" value="<%= @question.id %>">
  <label for="text">Add response:</label>
  <input id="text" name="text" type="text">
  <button type="submit">Add response:</button>
</form>

<a href="/surveys/<%= @question.survey_id %>">Back to survey</a>
