<h1><%= @survey.title %></h1>
<h3>Questions:</h3>

<ul>
  <% @survey.questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.text %></a>
  </li>
  <% end %>
</ul>

<form action="/add_question" method="post" class="form-control">
  <input type="hidden" name="survey_id" value="<%= @survey.id %>">
  <label for="text">Enter a question:</label>
  <input id="text" name="text" type="text">
  <button type="submit">Add question</button>
</form>

<form action="/surveys/<%= @survey.id %>" method="post" class="form-control">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Change title</label>
  <input id="title" name="title" type="text">
  <button type="submit">Update title</button>
</form>

<form action="/surveys/<%= @survey.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete survey</button>
</form>

<a href="/">Back to index</a>
